openai
streamlit

qdrant_client

llama-index
llama-parse
llama-index-vector-stores-qdrant
llama-index-agent-openai-legacy
llama-index-llms-anthropic
llama-index-readers-file

selenium
webdriver_manager
selectolax
beautifulsoup4
lxml

fastapi
uvicorn
python-dotenv
ipykernel
icecream

pre-commit
black
isort
mypy
ruff
tox
