openai
streamlit
streamlit_chat

langchain
langchain-openai
langchain-pinecone
langchain-community
langchainhub

chromadb
qdrant_client

llama-index
llama-parse
llama-index-vector-stores-astra
llama-index-vector-stores-qdrant
llama-index-agent-openai-legacy
llama-index-llms-anthropic
llama-index-readers-file

llama-index-packs-query-understanding-agent
llama-index-llms-langchain

selenium
webdriver_manager
selectolax
beautifulsoup4
lxml

fastapi
uvicorn
python-dotenv
ipykernel
icecream

# paddlepaddle
# paddleocr
# unstructured[image,pdf,docx,pptx]

pre-commit
black
isort
mypy
