streamlit
streamlit_chat

langchain
langchain-openai
langchain-pinecone
langchain-community
langchainhub
chromadb

llama-index
llama-parse
llama-index-vector-stores-astra
llama-index-readers-file

llama-index-llms-langchain

fastapi
uvicorn
python-dotenv

ipykernel
paddlepaddle
paddleocr
unstructured[image,pdf,docx,pptx]
